[Unit]
Description=Python sound splitter - one to three
After=sound.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/python3 /usr/share/audiohub/sound_splitter.py -i 'USB AUDIO CODEC' -o softvol_local_aux -o2 softvol_rem1_aux -o3 softvol_rem2_aux -s 44100
User=ACTUAL_USER
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20

[Install]
WantedBy=multi-user.target
