[Unit]
Description=Spotify Connect Everywhere
After=network-online.target
[Service]
Type=idle
User=root
ExecStart=/usr/sbin/librespot --name NeoHubLocal --cache /home/max/cache --bitrate 320 --backend alsa --device hw:CARD=CODEC --disable-discovery --username trixxer --password maxsaramusik > /dev/null 2>&1
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20
[Install]
WantedBy=multi-user.target

