[Unit]
Description=Audio web GUIhub Service
After=sound.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/python3 /usr/share/audiohub/web_server/main.py -i 0.0.0.0 -c /usr/share/audiohub/devices.conf
User=root
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20

[Install]
WantedBy=multi-user.target
