[Unit]
Description=AUX sound router service
After=sound.target
After=network.target network-online.target
After=spotify-connect.service

[Service]
ExecStart=/usr/bin/python3 /usr/share/audiohub/wire.py -dtype int16 -i 'USB AUDIO CODEC' -o aux_out --samplerate 44100 -b 1024
User=ACTUAL_USER
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20

[Install]
WantedBy=multi-user.target
